
body {
	font-size: 20px;
	font-family: 'Proxima Nova', Georgia, sans-serif;
	text-align: center;
}

.container {
	max-width: 960px;
	box-sizing: border-box;
	padding: 0;
}

#header {
	max-width: 100%;
	height: 300px;
	margin:auto;
	background-position: center;
	background-size: cover;
	color: #fff;
	font-weight: bold;
	background-color: #3EECAC;
	background-image: -webkit-linear-gradient(199deg, #3EECAC 0%, #EE74E1 100%);
	background-image: -o-linear-gradient(199deg, #3EECAC 0%, #EE74E1 100%);
	background-image: linear-gradient(289deg, #3EECAC 0%, #EE74E1 100%);
    padding: 10px;
	  opacity: 0.35;
	  width: 100%;
	  min-height: 50px;
	  -webkit-clip-path: ellipse(60% 100% at 50% 0%);
	  clip-path: ellipse(60% 100% at 50% 0%);

}

#header h1 {
	font-size: 4em;
	padding: 100px 0 50px 0;
}

#mapa {
	padding: 70px 0;
}

#mapa h2 {
	font-size: 2em;
	
}

#map {
	border-radius: 6px;
	height: 500px;
	width: 800px;
}

ul {
	font-size: 2em;
	font-weight: 600;
}

li {
	font-size: 1em;
	font-weight: 300;
}

#img-container {
	max-width: 400px;
	max-height: 500px;
}

.row {
	
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	box-sizing: border-box;
}
.element {
	height: 500px;
	border-radius: 6px;
	margin: 10px;
	padding: 0;
	background-color: #eee;
	max-width: 450px;

}
.element:hover {
	height: 500px;	
	border-radius: 6px;	
	box-shadow: 0 14px 24px rgba(50,48,58,.25);
}


