
body {
	font-size: 20px;
	font-family: 'Proxima Nova', Georgia, sans-serif;
	text-align: center;
}

.container {
	max-width: 960px;
	box-sizing: border-box;
	padding: 15px;
	text-align: center;

}

.navbar	{
	background: 0 0;
	z-index:20;
	position: fixed;
	width: 100vw;

}


.navbar:hover {
	background-color: #eee;
}

#main-header {
	max-width: 100%;
	height: 650px;
	background-position: center;
	background: url(../img/original.jpg)

}

#lugares {
	margin: 100px 0;
}

#img1 {
	background-image: url(../img/565256_442792.jpg);
}
#img2 {
	background-image: url(../img/parque-Alameda-2.jpg);
}
#img3 {
	background-image: url(../img/owurghvdsou.jpg);
}

#img4 {
	background-image: url(../img/Cafee.png);
}

#img5 {
	background-image: url(../img/bar-balada.jpg);
}
#img6 {
	background-image: url(../img/ufncskjd3.jpg);
}
#img7 {
	background-image: url(../img/images.jpg);
}
#img8 {
	background-image: url(../img/m_coronel.jpg);
}
#img9 {
	background-image: url(../img/HATILLO.jpg);
}
/*otras pages*/

li {
	font-size: 1em;
	font-weight: 300;
}

#img-container {
	max-width: 400px;
	max-height: 400px;

}



.row {
	
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	box-sizing: border-box;
}

.imgs{
	height: 380px;
	position: relative;
	margin-bottom: 70px;
	border-radius: 8px;

	
}
.custom-1 {
	height: 50%;
	width: 280px;
	left: 0;
	position: absolute;
	top: 50%;
	-webkit-box-shadow: 0 14px 24px rgba(50,48,58,.25);
	box-shadow: 0 14px 24px rgba(50,48,58,.25);
	margin-top: -105px;
	border-radius: 6px;
	background-size: contain;
}

.custom-2 {
	height: 50%;
	width: 280px;
	right: 0;
	position: absolute;
	top: 50%;
	-webkit-box-shadow: 0 14px 24px rgba(50,48,58,.25);
	box-shadow: 0 14px 24px rgba(50,48,58,.25);
	margin-top: -105px;
	border-radius: 6px;
	background-size: contain;
}

.custom-3 {
	height: 100%;
	width: 380px;
	position: relative;
	z-index: 2;
	-webkit-box-shadow: 0 14px 24px rgba(50,48,58,.25);
	box-shadow: 0 14px 24px rgba(50,48,58,.25);
	display: inline-block;
	text-align: center;
	border-radius: 6px;
	background-size: contain;
}

.service {
	background-image: linear-gradient(141deg,#ff867e 0,#ffaa6c 27%,#ffa876 52%,#fe906a 73%,#ff837d 100%);
	padding-bottom: 70px;
	position: relative;
	color: #fff;
}
.serv {
	padding: 70px 0;
}

.step-1 {
	
	box-shadow: 0 14px 24px 0 rgba(50,48,58,.25);
	border-radius: 6px;
	width: 340px;
	height: 310px;
	background-size: contain;
}

.step-2 {
	
	box-shadow: 0 14px 24px 0 rgba(50,48,58,.25);
	border-radius: 6px;
	width: 180px;
	height: 180px;
	background-size: contain;
	position: absolute;
	transform: translate(200px,-150px);
	opacity: 1;
}

footer {
	background: #32313a;
	width: 100%;
	padding: 47px 0;
	z-index: 9;
	position: relative;
	color: #fff;
}